name: "Run tests"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-18.04', 'ubuntu-20.04', 'macos-10.15', 'macos-11' ]
        # Tests running via `nosetests` on Python 3.10 fail with the error:
        #
        #     "AttributeError: module 'collections' has no attribute 'Callable'"
        # 
        # Per https://github.com/nose-devs/nose/issues/1099, nose is no longer
        # maintained and so this will not be fixed; we need to migrate to either
        # nose2 or pytest, per the discussion on the above issue.
        python: [ '2.7', '3.7', '3.8', '3.9' ]
    name: Python ${{ matrix.python }} (${{ matrix.os }})
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
          architecture: x64

      - name: Install core requirements
        run: pip install -r requirements.txt

      - name: Install Python 2.7 test requirements
        if: ${{ matrix.python == '2.7' }}
        run: pip install -r test_requirements_python27.txt

      - name: Install Python 3 test requirements
        if: ${{ matrix.python != '2.7' }}
        run: pip install -r test_requirements.txt

      - name: Run unit tests
        run: nosetests

      - name: Check setup.py metadata
        run: python setup.py check --metadata --strict

      - name: Run notebook tests
        run: |
          python ipynb_runner.py -v -s examples/example.ipynb
          python ipynb_runner.py -v -s examples/example_outputs.ipynb
          # Removed in https://github.com/rossant/ipycache/commit/632b7732622239cf363e3606f694735818ec6cc6
          # when this was using Travis CI; need to look into whether this needs to be re-enabled or removed.
          # python ipynb_runner.py -v -s examples/capture_output.ipynb
